:root {
  --transition-duration: 250ms;
  --transition-timing-function: ease-out;
}

* {
  transition-property: color, background-color, border-color, box-shadow, transform, display;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
